@font-face {
    font-family: 'Archivo';
    src: local('Archivo'), url(../fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf) format('truetype');
}

body {
    background-color: #6c757d;
    font-family: 'Archivo', sans-serif;
}

/* 
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/

.bg-ffw {
    background-color: green;
}

.navbar-ffw {
    font-size: 20pt;
    background-color: red;
}

#navbar {
    border: solid brown 5px;
}

#login-jumbotron {
    color: white;
    background-position: center center;
    height: 100vh;
    background-image: url('../../public/ffw_emblem.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

#login-jumbotron-text {
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

#login-btn {
    display: block;
    margin: 5vh auto;
}

@media only screen and (min-width: 576px) {
    #navbar {
        border: solid red 5px;
    }
}

@media only screen and (min-width: 768px) {
    #navbar {
        border: solid orange 5px;
    }
}

@media only screen and (min-width: 992px) {
    #navbar {
        border: solid yellow 5px;
    }
}

@media only screen and (min-width: 1200px) {
    #navbar {
        border: solid green 5px;
    }
}

@media only screen and (min-width: 1400px) {
    #navbar {
        border: solid blue 5px;
    }
}

