.map-wrapper {
    height: 92vh;
    width: 100vw;
}

.map-container {
    height: 100%;
    width: 100%;
}


#menu-toggle-button {
    position: absolute;
    top: 50%;
    right: 0%;
    z-index: 1000;
}

#menu-offcanvas {
    background-color: #ccc;
    border-left: solid #333 thick;
    border-top: solid #333 thick;
    border-bottom: solid #333 thick;
    border-radius: 25px 0 0 25px;
}



.hydrant-stack {
    overflow: auto;
    max-height: 100%;
}

.marker-new {
    color: 'red'
}

.marker-unchanged {
    color: 'grey'
}

.marker-highlight {
    color: 'green'
}

.print {
    display: none;
}

@page left {
    size: landscape;
    page-orientation: rotate-left;
}

@media print {
    .no-print {
        display: none;
    }

    .print {
        display: block;
        page: left
    }

    .pagebreak {
        page-break-before: always;
    }
}