.map-container {
    height: 100%
    /*     height: 100%;
    min-height: 100%; */
}

.hydrant-stack {
    overflow: auto;
    max-height: 100%;
}

.marker-new {
    color: 'red'
}

.marker-unchanged {
    color: 'grey'
}

.marker-highlight {
    color: 'green'
}

.print {
    display: none;
}

@page left {
    size: landscape;
    page-orientation: rotate-left;
}

@media print {
    .no-print {
        display: none;
    }

    .print {
        display: block;
        page: left
    }
    .pagebreak { page-break-before: always; }
}